
$home-primary-color: #A2BDD0;
$home-light-accent-color: #C4AAA5;
$home-dark-accent-color: #8C8999;
$home-light-shade-color: #FAF9FA;
$home-dark-shade-color: #4C80A3;


$main-header-border-radius: 15px;
$border-radius: 25px;


$facebook-color: #4B588F;
$mega-color: #C32929;
$instagram-color: #A62D7E;
$snapchat-color: #F2E24B;