@import 'variables';
@import 'functions';
@import 'animation';
@import 'reset';


.main-layout{
    width: 100vw;
    height: 100vh;
}

.main-header{
    display: flex;
    margin: 0 auto;
    padding-top: 1rem;
    width: 80vw;
    height: 10vh;

    @include media("<=phone") {
        width: 95vw;
        .tab{
            font-size: 12px;
        }
    }
    
    @include media(">phone") {
        width: 85vw;
    }

    .tab{
        background-color: $home-dark-accent-color;
        border-radius: $main-header-border-radius;
        width: 100%;
        color: $home-light-shade-color;
        font-weight: 500;
    }
}

.tab{
    display: flex;
    .tab-item{
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 100%;
        &:hover{
            background-color: $home-dark-shade-color;
            cursor: pointer;
        }

        &:first-child{
            border-top-left-radius: $main-header-border-radius;
            border-bottom-left-radius: $main-header-border-radius;
        }

        &:last-child{
            border-top-right-radius: $main-header-border-radius;
            border-bottom-right-radius: $main-header-border-radius;
        }
    }
}

.main-content{
    position: relative;
    display: flex;
    padding-top: 2rem;
    
    .content{
        position: absolute;
        top: 1;
        left: 1;
        width: 98vw;
        height: 75vh;
        background-color: $home-primary-color;
        padding: 5px;
        margin: 0 0.5vw;
        border-radius: 10px;
        overflow-y: scroll;
    }
}

.hide {
    display: none;
}

.text-location{

    color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;

    .title{
        font-size: 1.6rem;
    }
}

.forms{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.link{
    display: flex;
    flex-direction: column;
    margin: 1.1em 0;

    label{
        display: inline-flex;
        align-items: center;
        width: min-content;
        img{
            margin-right: 10px;
        }
    }

    input[type="submit"]{
        border: none;
        width: 26px;
        height: 26px;
        border-radius: $border-radius!important;

        &:focus{
            border: none!important;
        }
    }

    input[name="facebook-button"]{
        background-color: $facebook-color;
    }
    
    input[name="mega-button"]{
        background-color: $mega-color;
    }
    
    input[name="instagram-button"]{
        background-color: $instagram-color;
    }
    
    input[name="snapchat-button"]{
        background-color: $snapchat-color;
    }

    input[type="url"]{
        border-radius: 5px;
        margin: 2px;
        border-width: 1px;
        height: 27px;
        width: 80%;
    }

    .link-img{
        height: 25px;
        width: 25px;
    }

    @include media(">375px", "<815px") {
        width: 40vh;
    }

    @include media(">=815px", "<desktop") {
        
    }

    @include media(">desktop") {
        display: inline-flex;
        flex-direction: row;
        width: 40vw;

        label{
            width: 30%;
        }

        div{
            width: 70%;
        }
    }

    
    
}




.data-collection {
    column-count:         3;
    column-gap:           0;  

    img{
        width: 100% !important;
        height: auto !important;
    }

    @include media("<=phone") {
        column-count: 1;
    }
    
    @include media(">phone", "<715px")  {
        column-count: 2;    
    }

    @include media(">=815px", "<desktop") {
        column-count: 4;  
    }

    @include media(">=desktop") {
        column-count: 4;
    }

    @include media(">desktop") {
        column-count: 6;
    }
}



.facebook{

    justify-content:center;
    flex-direction: row;
    
    .facebook-link{

        display: flex;
        justify-content: center;
        height: 75px;
        align-content: center;

        div{
            align-self: center;
        }

        @include media("<=phone") {
            height: 50px;
            flex-direction: row;
            label {
                font-size: 0;
            }
        }
        
        @include media(">=375px", "<815px") {
            width:100%!important;
            flex-direction: row;
        }

        @include media(">=815px", "<=desktop") {
            flex-direction: row;
            width: 100%;
        }

        @include media(">desktop") {
            width:100%!important;
            label{
                width: 8%;
            }

            div{
                width: 30%;
            }
        }

        @include media(">=2560px") {
            width:100%!important;
            label{
                width: 5%;
            }

            div{
                width: 20%;
            }
        }

    }
}


.download-button{
    justify-self: flex-end!important;
    width: 9%!important;
    text-align:center;
    padding: 9px;
    border: 1px solid;
    border-radius: 12px; 
    cursor: pointer;

    @include media("<815px") {
        font-size: 0;
    }
}

.facebook .download-button{
    border-color: transparent;
    background-color: $facebook-color;
    color:white;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;    

    img{
        stroke:none;
        fill-rule:nonzero;
        fill:white;
        fill-opacity:1
    }
}